 .item-detail .conteiner{
    display:flex;
    align-Items:center;
    flex-Direction: column;
    margin-top: 150px;
} 

.item-detail .conteiner .volver{
    position: absolute;
    top:120px;
    left: 50px;
}
.item-detail .conteiner a {
    color: grey;
  }
  
.item-detail .conteiner .title{
    font-Family: 'Times New Roman ,Times, serif';
    font-Size: 35px
}