.navbar{
    display:flex;
    justify-content:space-around;
    padding: 25px;
    align-items:center;
    background-color:rgb(41, 7, 5);
    color: rgb(214, 107, 25);
    font-family: 'Times New Roman ,Times, serif';
    width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar span{
    color:#fff
}
.btn {
    display:flex;
    align-items: center;
    gap:30px;
}
.btn .button{
    border-radius: 15px;
    /* padding:5px 15px ; */
    /* background-color: rgba(117, 57, 121, 0.988); */
    color:rgb(243, 243, 236)
}
a:link{
    text-decoration: none;
}
.footer{
    bottom: 10px;
}