.item-list-container{
    position: relative;
    top:110px;
}
.greeting{
    padding:5px;
    color:white;
    background-image: linear-gradient(360deg,#CCD1D1,#5D6D7E);
    border-Radius: 5px;
    
    display:flex;
    justify-Content:center;
    margin-Top:20px;
    font-Size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.main{
    display: flex;
    width: 90vw;
    margin-top: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
 }
 
