.item-list{
    position: relative;
    top:110px;
    
}
.greeting{
    padding:5px;
    color:white;
    background-image: linear-gradient(180deg,red,black);
    border-Radius: 5px;
    display:flex;
    justify-Content:center;
    margin-Top:20px;
    font-Size: 20px;
    font-family:'Times New Roman', Times, serif;
}
 .side{
    display:flex;
    justify-content: flex-start;
    width: 90vw;
    margin-top: 30px;

 }


.grid{
    display: grid;
    grid-template-columns: 10% 80%;
    grid-template-rows: 10% 80%;
}